.apresentacao {

    height: 100vh;

    display: flex;
    align-items: center;

    background-color: rgb(31, 90, 138);
  
    background-image: url('./images/Folder.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

    color: white;

    text-align: center;

}
