*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
    font-family: Open Roboto, sans-serif;
    display: block;
}



.bg-primary-color{
    background-color: #fff;
}

.bg-primary-color {
    background-color: #fff;
  }
  
  .bg-secondary-color {
    background-color: #ece8e2;
  }
  
  .bg-dark-color {
    background-color: #050505;
  }
  
  .primary-color {
    color: #050505;
  }
  
  .secondary-color {
    color: #7a7a7a;
  }
  
  /* NAVBAR */
  #navbar {
    border-bottom: 1px solid #7a7a7a;
  }
  
  #navbar a {
    color: #c90808;
    font-size: 1.5em;
  }
  
  #navbar a:hover {
    color: #7a7a7a;
  }
  
  #navbar .active {
    border-bottom: 1px solid #050505;
  }
  
  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    width: 120px;
  }
  
  .navbar-brand span {
    font-weight: 900;
    font-size: 2.5em;
    margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }
  






/*

.header{

    display: flex;    
    position: fixed;
    width: 100vw;
    top: 0%;
    margin: 0% 0%;
    min-height: 150px;
    background-color: white;
   
}

.logo{
    align-items: center;
    width: 15vw;
    height: 25vh;
    min-width: 130px;
}

.menu{
    width: 90vw;
    /*flex-direction: column;*/
  /*  background-color: white;
}

.menu-top{
    height: 50%; 
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
    align-items: flex-end;
}

.Contato{
    display:flex;
}


.menu-bottom{
    height: 50%;
    display: flex;
    justify-content:center; 
    background-color: white;
    
}

.menu nav {
    position: absolute; 
    
}
.menu nav ul li {
    float: left;    
    margin: 1.5em 1.8em; 
    font-size: 1.2em; 
    font-family: 'verdana'; 
    list-style: none;
}
.menu h4 {
    text-decoration: none;
    font-weight: bold; 
    font-size: 1em;
    color: #bbb;
    margin-right: 5vw;
}
.menu nav ul li a {
    text-decoration: none; 
    font-weight: bold;
    margin-right: 15px;
    color: rgba(236, 13, 13, 0.842);
}*/

.container-alterado{
    margin-top: 150px;   
    margin-left: 0;
    margin-right: 0;
    padding: 0px 0px; 
    width: 100vw;
   
}

.container-informacao{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/painel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Sobre-empresa{

    background-color: #082D60;

}

.Sobre-titulo{
    color: #fff;
    margin: 0px 50px;
    padding-top: 50px;
    text-align: center;
}



.Sobre-empresa p{
    
    font-size: 1.2em;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 0;
}

.competencias h2{
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.list-competencias{
    color: #fff;
    font-size: 1em;
    padding: 0px 10px;
}

.funcionamento{
    background-color: #082D60;
    color: #fff;
    padding: 20px 10px;
    margin: 0;
}

.imagem-explicativa{
    text-align: center;
}

.explicacao{
    margin: 0;
}

.explicacao p{
    margin: 0;
    text-align: justify;
}

.container-formulario{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #082D60;
    color: #fff;
}


.formulario-contato h2{
   
    font-style: italic;
    color: #fff;
    margin-left: 10px;
    padding-top: 20px;
}

.formulario{
    display: flex;
    flex-wrap: wrap;
}

.form-group{
    margin: 0px 10px;
}

.informacao-contato{
    width: 40vw;
}

/*FOOTER TOOP*/
#footer{    
    padding: 3em 2em;
}

#footer-top{
    margin-bottom: 2em;
}

#footer-top,
#footer-top i{
    color: #fff;
}

#social-icons{
    text-align: right;
}

#social-icons i{
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover{
    color: #7a7a7a;
}

/*FOOTER DETAILS*/

#footer-details{
    margin-bottom: 3em;;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4{
    color: #fff;
    margin-bottom: 1.5em;
}

#news-container input{
    border-radius: 0;
    border: none;
}

#links-container li{
    margin-bottom: 0.5em;
}

#links-container a{
    text-decoration: none;
}

#links-container a:hover{
    color: #fff;
}

/*FOOTER BOTTOM */

#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

#footer-bottom i{
    color: #ecd712;
}

@media (min-width: 768px){
    #news-container {
        padding-right: 2em;
    }
    #links-container{
        padding-left: 2em;
    }
    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;

    }

    .Sobre-titulo{
        color: #fff;
        margin: 0px 50px;
        padding-top: 50px;
        text-align: left;
    }

    .Sobre-empresa p{
        text-align: justify;
        font-size: 1.2em;
        color: #fff;
        padding: 50px 50px;
        margin-bottom: 0;
    }

    
    .competencias h2{
        color: #fff;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 20px;
    }
    .list-competencias p{
        color: #fff;
        font-size: 1em;
        padding-left: 50vw;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .formulario-contato h2{
        font-size: 2em;
        font-style: italic;
        color: #fff;        
        padding-top: 50px;
    }

    .funcionamento{
        color: #fff;
        background-color: #082D60;

    }
    .funcionamento h2{
        padding: 20px 50px;
    }

    .imagem-explicativa{
    
        text-align: center;
        
    }
    
    .explicacao{
        color: #fff;
        background-color: #082D60;
        margin: 0;
    }

    
    .explicacao h3{
        padding: 20px 50px;
    }
    .explicacao p{
        margin: 0;
        padding: 50px;
    }
}